@use "../../utilities/variables" as *;
@use '../../utilities/_mixins/breakpoints' as *;
@use '../../utilities/_mixins/container' as *;
@use '../../utilities/_mixins/shadow' as *;
@use '../../utilities/_mixins/header' as *;
@use "../../utilities/_mixins/flex" as *;
@use "../../utilities/_mixins/font-size" as *;


.advantage{
    background-repeat: repeat-x;
    //overflow: hidden;
    height: 100px;
    @include breakpoints('sm'){    height: auto;}
    @include breakpoints(''){    height: auto;}
    >.advantage_content {
        @include container();
        @include flex(center, space-evenly);
        background-color: $white;
        padding: 3rem 2rem;
        //position: relative;
        //transform: translateY(-67%);
        //transform: translate(-50%, -50%);
        //z-index: 9999999;
        //position: absolute;
        //left: 50%;
        //bottom: -60%;
        position: relative;
        top: -194%;

        @include breakpoints('xxl') {
            //bottom: -20%;
        }
        @include breakpoints('xl') {
            //bottom: -20%;
        }
        @include breakpoints('lg') {
            width: 90%;
            //bottom: -24%;
            top: -222%;
        }
        @include breakpoints('md') {
            //bottom: -22%;
            justify-content: space-between;
        }
        @include breakpoints('sm') {
            transform: inherit;
            position: initial;
            text-align: center;
        }
        @include breakpoints('') {
            transform: inherit;
            position: initial;
            text-align: center;
        }

        .box{
            @include flex(start, start) {
                flex-direction: column;
                gap: 20px;
            }
            height: inherit;

            @include breakpoints('sm') {
                align-items: center;
                justify-content: center;
                margin-bottom: 3rem;
            }
            @include breakpoints('') {
                align-items: center;
                justify-content: center;
                margin-bottom: 3rem;
            }

            .box__number{
                height: 70px;
                background-size: cover;
                width: 70px;
                background-position: center;
                @include flex(center, center);
                span {
                    @include font-size('4xl');
                    font-weight: bold;
                    color: $white;
                }
            }

            .box__title{
                h4{
                    @include font-size('lg');
                    font-weight: bold;
                    color: $secondary-light-color;
                }
            }

            .box__desc {
                color: #393E41;
                @include font-size('sm')
            }
        }
    }
    .bg-advantage-left{
        position: absolute;
        left: 0;
        top: 100%;
        width: 31%;
        display: none;
        @include breakpoints('sm'){ display: block}
        @include breakpoints(''){display: block}
    }
    .bg-advantage-right{
        position: absolute;
        right: -12%;
        top: 98%;
        width: 24%;
        display: none;
        @include breakpoints('sm'){ display: block}
        @include breakpoints(''){display: block}
    }
}
