@use "../../utilities/variables" as *;
@use '../../utilities/_mixins/breakpoints' as *;
@use '../../utilities/_mixins/container' as *;
@use '../../utilities/_mixins/shadow' as *;
@use '../../utilities/_mixins/header' as *;
@use "../../utilities/_mixins/flex" as *;
@use "../../utilities/_mixins/font-size" as *;

.success-story__section{
    @include header {
        text-align: start;
    }
    padding: 4rem;
    position: relative;
    @include breakpoints('sm'){
        padding: 4rem 0;
    }
    @include breakpoints(''){
        padding: 3rem 0;
    }
    header h1 {
        @include breakpoints('sm') {padding:0 2rem}
        @include breakpoints('') {padding:0 2rem}
    }
    .row{
        margin-top: 3rem;
    }
    .story{
        height: 500px;
        background-size: cover;
        background-position-x: 100%;
        position: relative;
        z-index: 0;
        padding: 5rem 4rem;
        @include box-shadow;
        @include breakpoints('sm') {padding:4rem 2rem 0}
        @include breakpoints('') {padding:4rem 2rem 0; background-position-x: center;text-align: center}
        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-image:  linear-gradient(101deg ,#ffffff00, #bdb6cf7d, #73659ad4);
            @include breakpoints('') {
                background-image: linear-gradient(101deg,  rgba(189, 182, 207, 0.4901960784), rgba(115, 101, 154, 0.831372549))
            }
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: -1;
        }
        .story__title {
            color: $white;
            @include font-size('2xl');
            font-weight: bold;
            margin-bottom: 1rem;
        }
        .story__desc {
            color: $white;
            @include font-size('sm');
            font-weight: 400;
            width: 38%;
            @include breakpoints('sm') {width: 80%}
            @include breakpoints('') {width: 100%}
        }
        .more{
            @include font-size('xs');
            color: $white;
            position: relative;
            margin-top: 1rem;
            &:before{
                content: '';
                position: absolute;
                height: 1px;
                width: 100%;
                bottom: -3px;
                left: -197%;
                background-color: $white;
                @include breakpoints('sm') {left: -97%;}
                @include breakpoints('') {left: -97%;}
            }
        }
    }

    .buttons{
        display: flex;
        justify-content: end;
        gap: 20px;
        margin-top: 1.5rem;
        @include breakpoints('sm'){justify-content: center}
        @include breakpoints(''){justify-content: center}
        button{
            width: 55px;
            height: 55px;
            @include font-size('3xl');
            @include flex(center, center);
        }
    }

    .layer-7{
        position: absolute;
        top: -20%;
        left: -2%;
        width: 9%;
    }
    .layer-3{
        position: absolute;
        bottom: -7%;
        right: -5%;
        width: 9%;
    }
}
