@use "../../utilities/variables" as *;
@use '../../utilities/_mixins/breakpoints' as *;
@use '../../utilities/_mixins/container' as *;
@use '../../utilities/_mixins/shadow' as *;
@use '../../utilities/_mixins/header' as *;
@use "../../utilities/_mixins/flex" as *;
@use "../../utilities/_mixins/font-size" as *;
@use "../../utilities/_mixins/animation" as *;

$width-img: 100%;

.landing{
    z-index: 0;
    &.story{
        @include breakpoints('md')
        {
            height: 550px;
            background-position: center;
        }
        @include breakpoints('sm')
        {
            height: 550px;
            background-position: center;
        }
        @include breakpoints('')
        {
            height: 550px;
            background-position: center;
        }
    }
    &.story::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(360deg ,rgb(0,0,0,0%),rgb(66,48,100,42%), rgb(66,48,100,80%), rgb(66,48,100,83%));
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -22;
    }
}

.story__section{
    position: relative;
    //overflow: hidden;
    margin-bottom: 2rem;
    @include breakpoints('sm'){    height: auto;}
    @include breakpoints(''){    height: auto;}

    >.story_content {
        @include container();
        background-color: $white;
        overflow: hidden;
        padding: 5rem 5rem 7rem;
        @include breakpoints('xxl'){
            padding: 7rem;
        }
        position: relative;
        margin-top: -194px !important;
        @include box-shadow;

        @include breakpoints('md'){
            padding: 2rem;
        }
        @include breakpoints('sm'){
            padding: 2rem;
        }
        @include breakpoints(''){
            padding: 2rem;
        }

        .story__title{
            @include font-size('2xl');
            @include breakpoints('xxl'){
                @include font-size('4xl');
            }
            @include breakpoints('md')
            {
                @include font-size('base')
            }
            @include breakpoints('sm')
            {
                @include font-size('base')
            }
            @include breakpoints('')
            {
                @include font-size('base')
            }
            color: $gray-dark-color;
            margin-bottom: 3rem;
            h1{
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    height: 2.5px;
                    background-color: #686868;
                    top: 60%;
                    width: 60px;
                    right: -15%;
                    @include breakpoints('xxl'){
                        width: 76px;
                        right: -13%;
                    }
                    @include breakpoints('md')
                    {
                        width: 38px;
                    }
                    @include breakpoints('sm')
                    {
                        width: 38px;
                    }
                    @include breakpoints('')
                    {
                        width: 38px;
                    }
                }
            }
        }

        .story__desc{
            padding-inline-end: 5rem;
            p{
                color: $gray-darker-color;
                @include font-size('base');
                line-height: 1.9rem;
                font-weight: 500;
                @include breakpoints('md'){
                    text-align: center;
                    padding-inline-end: 0;
                }
                @include breakpoints('sm'){
                    text-align: center;
                    padding-inline-end: 0;
                }
                @include breakpoints(''){
                    text-align: center;
                    padding-inline-end: 0;
                }
            }
        }

        .grid{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: auto auto;

            .story__desc{
                padding-inline-end: 3rem;
                grid-column: 1 / 3;
                &:first-child{
                    grid-column: 1 / 5;
                }
                @include breakpoints('md'){
                    grid-column: 1 / 5;
                    padding-inline-end: 0;
                }
                @include breakpoints('sm'){
                    grid-column: 1 / 5;
                    padding-inline-end: 0;
                }
                @include breakpoints(''){
                    grid-column: 1 / 5;
                    padding-inline-end: 0;
                }
            }
            .slide__images{
                position: relative;
                grid-column: 3 / 5;
                @include breakpoints('md'){
                    order: -1;
                    position: initial;
                    grid-column: 1 / 5;
                }
                @include breakpoints('sm'){
                    order: -1;
                    position: initial;
                    grid-column: 1 / 5;
                }
                @include breakpoints(''){
                    order: -1;
                    position: initial;
                    grid-column: 1 / 5;
                }
                img{
                    position: absolute;
                    width: $width-img;
                    @include breakpoints('md'){
                        position: initial;
                        display: none;
                        &:first-child{
                            display: block;
                        }
                    }
                    @include breakpoints('sm'){
                        position: initial;
                        display: none;
                        &:first-child{
                            display: block;
                        }
                    }
                    @include breakpoints(''){
                        position: initial;
                        display: none;
                        &:first-child{
                            display: block;
                        }
                    }
                    &.img-1{
                        z-index: 4;
                        position: relative;
                    }
                    &.img-2{
                        z-index: 3;
                        left: -4%;
                        top: 1%;
                        width: $width-img - 4%;
                        @include breakpoints('xxl'){top: 2%;}
                    }
                    &.img-3{
                        z-index: 2;
                        left: -8%;
                        top: 2%;
                        width: $width-img - 8%;
                        @include breakpoints('xxl'){top: 4%;}
                    }
                    &.img-4{
                        z-index: 1;
                        left: -12%;
                        top: 3%;
                        width: $width-img - 12%;
                        @include breakpoints('xxl'){top: 6%;}
                    }
                }

                .buttons{
                    @include breakpoints('md'){
                        text-align: center;
                        margin-bottom: 1rem;
                    }
                    @include breakpoints('sm'){
                        text-align: center;
                        margin-bottom: 1rem;
                    }
                    @include breakpoints(''){
                        text-align: center;
                        margin-bottom: 1rem;
                    }
                    button{
                        padding: 0;
                        height: 50px;
                        width: 50px;
                        font-size: 36px;

                    }
                }
            }
        }
    }
    .layer-7{
        position: absolute;
        left: 0;
        bottom: -89px;
        width: 10%;
    }
}

.bg-card-left{
    position: absolute;
    width: 12%;
    left: -3%;
    top: -3%;

    @include breakpoints('xxl'){top: -24%;}
}

.bg-right{
    position: absolute;
    right: -23%;
    width: 28%;
    top: 142%;

    @include breakpoints('xxl'){
        right: -15%;
        top: 142%;
    }
}
