@use "../utilities/_mixins/flex" as *;
@use "../utilities/variables" as *;

.dot {
  @include flex(center, start){
    gap: 10px;
  };
  position: absolute;
  bottom: -10%;

  span {
    background-color: #B3B5B7;
    border-radius: 30px;
    width: 20px;
    height: 6px;
    display: block;
    cursor: pointer;

    &.active {
      background-color: $secondary-light-color;
      width: 120px;
    }
  }
}