@use "../utilities/_mixins/flex" as *;
@use "../utilities/variables" as *;
@use "../utilities/_mixins/breakpoints" as *;

.dot {
  @include flex(center, start){
    gap: 10px;
  };
  position: absolute;
  bottom: -10%;

  span {
    background-color: #B3B5B7;
    border-radius: 30px;
    width: 20px;
    height: 6px;
    display: block;
    cursor: pointer;

    &.active {
      background-color: $secondary-light-color;
      width: 120px;
    }
  }

  @include breakpoints('md') {
    bottom: -14px;
    transform: scale(1) translate(-50%, -50%);
    left: 50%;
  }
  @include breakpoints('sm') {
    bottom: 0;
    transform: scale(1) translate(-50%, -50%);
    left: 50%;
  }
  @include breakpoints('') {
    bottom: 0;
    transform: scale(1) translate(-50%, -50%);
    left: 50%;
  }
}