@use "../utilities/_mixins/flex" as *;
@use "../utilities/variables" as *;
@use "../utilities/_mixins/font-size" as *;

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  @include flex(center, center);
  a{
    color: $secondary-light-color;
    font-weight: bold;
    @include font-size('xl');
  }
}
