@use "../../utilities/variables" as *;
@use '../../utilities/_mixins/breakpoints' as *;
@use '../../utilities/_mixins/container' as *;
@use '../../utilities/_mixins/shadow' as *;
@use '../../utilities/_mixins/header' as *;
@use "../../utilities/_mixins/border" as *;
@use "../../utilities/_mixins/flex" as *;
@use "../../utilities/_mixins/font-size" as *;
@use "../../utilities/_mixins/animation" as *;

%width{
  width: 80%;
  margin: auto;
}
.main-services {
  //@include container();
  padding-top: 3rem;
  padding-bottom: 4rem;
  position: relative;

  header {
    @include header();
  }

  nav {
    @extend %width;
    padding-top: 3.5rem;
    @include flex(center, space-between);

    @include breakpoints('md')  {
      padding-top: 1rem;
      justify-content: space-around;
    }
    @include breakpoints('sm')  {
      display: none;
    }
    @include breakpoints('')  {
      display: none;
    }

    .nav__item {
      cursor: pointer;
      color: $gray-lighter2-color;
      @include breakpoints('md')  {
        font-size: 14px;
      }
      @include breakpoints('sm')  {
        font-size: 12px;
      }
      @include breakpoints('')  {
        font-size: 12px;
      }
      &.active {
        color: $gray-darker-color;
        position: relative;
        &::before {
          content: '';
          height: 16px;
          width: 2px;
          background-color: #7F71A5;
          position: absolute;
          left: 50%;
          top: 126%;
          color: #4EA149;
          @include x-animation(up-to-down 0.4s ease-out);
        }
      }
      &:hover{
        color: $gray-darker-color;
      }
    }
  }

  .content {
    padding-top: 2.5rem;
    position: relative;

    .main__service__bg{
      background-size: contain;
      position: absolute;
      width: 100%;
      height: 300px;
      opacity: 0.1;
      z-index: -1;
      bottom: 40px;
      @include breakpoints('md'){
        height: 240px;
      }
      @include breakpoints('sm'){
        height: 240px;
      }@include breakpoints(''){
         height: 240px;
       }

    }

    .service{
      @include box-shadow;
      @include border($gray-light-color);
      background-color: $white;
      height: 380px;
      display: none;

      .right{
        padding: 4rem 3rem 0;

        @include breakpoints('sm') {
          @include flex(center, space-evenly) {
            flex-direction: column;
          }
          padding: 0 1rem;
        }
        @include breakpoints('') {
          @include flex(center, space-evenly) {
            flex-direction: column;
          }
          padding: 0 1rem;
        }
      }

      .service__title {
        @include font-size('2xl');
        color: $secondary-light-color;
        margin-bottom: 2rem;
        @include x-animation(down-to-up 0.8s ease-out);

        @include breakpoints('sm') {
          margin-bottom: 0;
        }
        @include breakpoints('') {
          margin-bottom: 0;
        }
      }

      .service__desc{
        color: $gray-dark-color;
        font-weight: 500;
        width: 80%;
        margin-bottom: 3rem;
        @include x-animation(down-to-up 0.8s ease-out);
        @include breakpoints('md') {
          width: 100%;
          font-size: 14px;
        }
        @include breakpoints('sm') {
          width: 100%;
          font-size: 14px;
          margin-bottom: 0;
        }
        @include breakpoints('') {
          width: 100%;
          font-size: 14px;
          margin-bottom: 0;
        }
      }

      >.right .btn{
        @include x-animation(down-to-up 1s ease-out);
      }

      .service__img{
        background-color: #7F71A5;
        height: 100%;
        @include flex(center, center);
        @include breakpoints('sm') {
          display: none;
        }
        @include breakpoints('') {
          display: none;
        }
        img{
          width: 100%;
          @include x-animation(down-to-up 0.8s ease-out);
        }
      }

      @include breakpoints('sm') {
        height: 320px;
        text-align: center;
      }
      @include breakpoints('') {
        height: 320px;
        text-align: center;
      }
    }
  }

  .layer-3 {
    position: absolute;
    width: 7%;
    bottom: -21%;
    z-index: 9999999;
  }
}

@include x-keyframes(down-to-up) {
  from {
    transform: translateY(10%);
    opacity: .4
  }
  to {

    transform: translateY(0%);
    opacity: 1
  }
}

@include x-keyframes(up-to-down) {
  from {
    //transform: translateY(-26px);
    height: 2px;
    opacity: 0
  }
  to {
    height: 16px;
    //transform: translateY(0%);
    opacity: 1
  }
}
