@use "../../utilities/variables" as *;
@use '../../utilities/_mixins/breakpoints' as *;
@use '../../utilities/_mixins/container' as *;
@use '../../utilities/_mixins/shadow' as *;
@use '../../utilities/_mixins/header' as *;
@use "../../utilities/_mixins/border" as *;
@use "../../utilities/_mixins/flex" as *;
@use "../../utilities/_mixins/font-size" as *;
@use "../../utilities/_mixins/animation" as *;

.service-points-section {
  padding: 3rem 0;
  background-size: 50%;
  background-repeat: repeat-x;
  position: relative;
  z-index: 0;
  overflow: hidden;
  .content {
    width: 80%;
    margin: auto;
    padding-top: 3rem;
    @include breakpoints('md'){
      padding-top: 0;
    }
    @include breakpoints('sm'){
      padding-top: 0;
    }
    @include breakpoints(''){
      padding-top: 0;
    }

    .service-points__details {
      @include flex(start,  space-evenly) {
        flex-direction: column;
      }

      @include breakpoints('md'){
        @include flex(center,  space-evenly) {
          flex-direction: column;
          gap: 26px;
        }
      }
      @include breakpoints('sm'){
        @include flex(center,  space-evenly) {
          flex-direction: column;
          gap: 26px;
        }
      }
      @include breakpoints(''){
        @include flex(center,  space-evenly) {
          flex-direction: column;
          gap: 26px;
        }
      }

      header {
        text-align: initial;
        font-weight: bold ;
        @include font-size('3xl');
        padding: 20px 0;
        color: $secondary-light-color;
      }

      .service-points__desc {
        @include flex(center, space-between) {
          gap: 30px;
        }
      }

      .box{
        @include flex(center, center){
          flex-direction: column;
        }
        color: $secondary-light-color;
        @include font-size('2xl');

        .box__title {
          font-weight: bold;
          position: relative;
          &.line::before {
            content: '';
            position: absolute;
            width: 1px;
            height: 28px;
            left: -30px;
            top: 0;
            background-color: $secondary-light-color;
            bottom: 6px;
          }
        }

        .box__desc {
          @include font-size('base')
        }
      }
    }

    .service-points__map {
      text-align: end;
      img {
        width: 85%;
      }
      @include breakpoints('md'){
        display: none;
      }
      @include breakpoints('sm'){
        display: none;
      }
      @include breakpoints(''){
        display: none;
      }
    }

  }

  .layer-4 {
    position: absolute;
    z-index: -1;
    width: 100px;
    top: 73px;
    right: -16px;
    @include breakpoints('md') {
      width: 80px;
      top: 73px;
      right: -29px;
    }
    @include breakpoints('sm') {
      width: 80px;
      top: 73px;
      right: -29px;
    }
    @include breakpoints('') {
      width: 80px;
      top: 73px;
      right: -29px;
    }
  }

  .layer-5 {
    position: absolute;
    z-index: -1;
    width: 50px;
    left: -4px;
    bottom: 0;
    @include breakpoints('md') {
      width: 42px;
      left: -15px;
    }
    @include breakpoints('sm') {
      width: 42px;
      left: -15px;
    }
    @include breakpoints('') {
      width: 42px;
      left: -15px;
    }
  }
  .map-bg{
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    z-index: -1;
    opacity: 0.3;
    @include breakpoints('md'){
      display: block;
      left: 10%;
      width: 80%;
    }
    @include breakpoints('sm'){
      display: block;
    }
    @include breakpoints(''){
      display: block;
    }
  }
}