@use '../utilities/variables' as *;
@use '../utilities/_mixins/breakpoints' as *;
@use '../utilities/_mixins/container' as *;
@use "../utilities/_mixins/flex" as *;

.header{
    @include flex(center, space-between);
    @include container();
    padding: 26px 0;
    @include breakpoints('md') {
        display: none;
    }
    @include breakpoints('sm') {
        display: none;
    }
    @include breakpoints('') {
        display: none;
    }
}

.header__mobile {
    padding: 26px 0;
    text-align: center;
    &.row{
        display: none;
        @include breakpoints('md') {
            @include flex(center, space-around);
        }
        @include breakpoints('sm') {
            @include flex(center, space-around);
        }
        @include breakpoints('') {
            @include flex(center, space-around);
        }
    }

    .header__box .header__item{
        justify-content: center;
        @include breakpoints('') {
            display: none;
        }    }
    .header__box{
        display: block;
    }
}

.header__box{
    @include flex(center, space-between) {
        gap: 28px;
    };

    .header__item{
        color: $white;
        @include flex(center, space-between) {
            gap: 8px;
        }
    }
}