@use '../utilities/variables' as *;
@use '../utilities/_mixins/breakpoints' as *;
@use '../utilities/_mixins/container' as *;
@use "../utilities/_mixins/shadow" as *;
@use "../utilities/_mixins/flex" as *;
@use "../utilities/_mixins/font-size" as *;

.landing{
    height: 750px;
    background-size: cover;
    background-position: 0 4%;
    position: relative;
    @include breakpoints('md') {
        height: 600px;
        background-position: center;
        background-image: url("../../images/bg-mobile.jpg") !important;
    }
    @include breakpoints('sm') {
        height: 600px;
        background-position: center top;
        background-image: url("../../images/bg-mobile.jpg") !important;
    }
    @include breakpoints('') {
        height: 480px;
        background-position: center top;
        background-image: url("../../images/bg-mobile.jpg") !important;
    }
    
    .landing__intro{
        height: 550px;
        @include flex(start, center) {
            flex-direction: column; };
        @include container();
        color: $white;
        position: relative;

        @include breakpoints('md') {
            height: 300px;
            padding: 0 3rem;
        }
        @include breakpoints('sm') {
            height: 250px;
            padding: 0 20px;
        }
        @include breakpoints('') {
            height: 250px;
            align-items: center;
        }
        h1 {
            @include font-size('5xl');
            @include text-shadow;
            @include breakpoints('md') {
                @include font-size('4xl');
            }
            @include breakpoints('sm') {
                @include font-size('3xl');
            }
            @include breakpoints('') {
                @include font-size('3xl');
            }
        }
        p {
            @include font-size('2xl');
            margin-top: 16px;
            @include text-shadow;
            @include breakpoints('md') {
                @include font-size('xl');
            }
            @include breakpoints('sm') {
                @include font-size('lg');
            }
            @include breakpoints('') {
                @include font-size('lg');
            }
        }    
    }
}
