@use "../../utilities/variables" as *;
@use '../../utilities/_mixins/breakpoints' as *;
@use '../../utilities/_mixins/container' as *;
@use '../../utilities/_mixins/shadow' as *;
@use '../../utilities/_mixins/header' as *;
@use "../../utilities/_mixins/flex" as *;
@use "../../utilities/_mixins/font-size" as *;
@use "../../utilities/_mixins/animation" as *;

.landing{
    &.member{
        background-position: center;
        height: 558px;
        position: relative;
        z-index: 0;
        overflow: hidden;
        background-color: $white;
        @include breakpoints('sm'){
            height: 450px;
        }
        @include breakpoints(''){
            height: 450px;
        }
    }

    .bg{
        display: flex;
        position: absolute;
        width: 125%;
        z-index: -51;
        gap: 2.5rem;
        right: -119px;
        @include breakpoints('sm'){
            gap: 1.5rem;
            right: 0;
        }
        @include breakpoints(''){ gap: 2.5rem }

        .list__section{
            display: flex;
            flex-direction: column;
            &:nth-child(odd) .list {
                animation-direction: reverse;
            }
            .list{
                display: flex;
                flex-direction: column;
                align-items: center;
                @include x-animation(ticker-kf 33s linear infinite);

                .item{
                    width: 108%;
                    margin-bottom: 1.4rem;
                    @include breakpoints('sm'){
                        margin-bottom: 1.1rem;
                    }
                    @include breakpoints(''){width: 130%;}
                }
            }
        }
    }
}

@include x-keyframes(ticker-kf){
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}
