@use "../../utilities/variables" as *;
@use '../../utilities/_mixins/breakpoints' as *;
@use '../../utilities/_mixins/container' as *;
@use '../../utilities/_mixins/shadow' as *;
@use '../../utilities/_mixins/header' as *;
@use "../../utilities/_mixins/flex" as *;
@use "../../utilities/_mixins/font-size" as *;
@use "../../utilities/_mixins/animation" as *;


.card__section{
    .card{
        width: 90%;;
        margin: 2rem 0;
        @include breakpoints('md'){
            height: auto;
        }
        @include breakpoints('sm'){
            height: auto;
            margin: auto auto 2rem;
        }
        @include breakpoints(''){
            height: auto;
            margin: auto auto 2rem;
        }

        .card__img{
            background-image: linear-gradient(#ffffff00, #fff0);
            @include breakpoints('md'){
                height: auto;
            }
            @include breakpoints('sm'){
                height: auto;
            }
            @include breakpoints(''){
                height: auto;
            }
        }
        .card_title{
            color: #393E41;
            text-align: start;
            margin-top: 1rem;
            @include font-size('base')
        }
        .card_desc{
            margin-top: 1rem;
            color: $gray-dark-color;
            @include font-size('lg')
        }
    }

    .content{
        @include flex(center, start);
        margin-bottom: 5rem;

        &.row{
            .card__title{
                padding-inline-start: initial;
                margin-bottom: 2rem;
                margin-top: 3rem;
            }
        }
    }

    .card__title{
        display: flex;
        align-items: center;
        gap: 1rem;
        @include breakpoints('sm'){
            margin-bottom: 1.5rem;
        }
        @include breakpoints(''){
            margin-bottom: 1.5rem;
        }
        h1::before{
            position: initial;
        }
    }
}

.card__desc{
    padding-inline-start: 4rem;
    margin-bottom: 4rem;
    @include breakpoints('md'){
        padding-inline-start: initial;
    }
    @include breakpoints('sm'){
        padding-inline-start: initial;
        text-align: center;
    }
    @include breakpoints(''){
        padding-inline-start: initial;
        text-align: center;
    }
    p{
        width: 40%;
        color: $gray-dark-color;
        @include font-size('lg');
        font-weight: 500;
        @include breakpoints('md'){width: 100%}
        @include breakpoints('sm'){width: 100%}
        @include breakpoints(''){width: 100%}
    }

}

.layer-10{
    position: absolute;
    left: 0;
    bottom: 70%;
    width: 7%;
}
.layer-11{
    position: absolute;
    left: 0;
    bottom: 48%;
    width: 14%;
}

.layer-12{
    position: absolute;
    left: 0;
    bottom: 6%;
    width: 7%;
}
