// colors
$main-color: #423064;

$secondary-light-color: #73659A;
$secondary-lighter-color:#A99DCD;

$orange-color: #E26E0B;
$green-color: #4EA149;

$white: #FFFFFF;

$gray-light-color: #F2F5FA;
$gray-lighter-color: #CDCDCD;
$gray-lighter2-color:#9DA0A1;
$gray-color: #5D5D5D;
$gray-dark-color: #686868;
$gray-darker-color: #393E41;

// container padding