@use "../../utilities/variables" as *;
@use '../../utilities/_mixins/breakpoints' as *;
@use '../../utilities/_mixins/container' as *;
@use '../../utilities/_mixins/shadow' as *;
@use '../../utilities/_mixins/header' as *;
@use "../../utilities/_mixins/flex" as *;
@use "../../utilities/_mixins/font-size" as *;
@use "../../utilities/_mixins/animation" as *;

.section-box{
    border: 1px solid rgba(115, 101, 154, 0.11);
    padding: 1.7rem 3rem;
    margin-bottom: 5rem;
    position: relative;
    @include breakpoints('sm'){
        padding: 1rem;
    }
    @include breakpoints('') {
        padding: 0;
        border: 0;
    }

    .section__number{
        position: absolute;
        top: -2%;
        left: 0;
        font-size: 7rem;
        font-weight: 500;
        color: #ECF1FA;
        @include breakpoints(''){ display: none }
    }

    .section__details{
        @include breakpoints(''){
            margin-top: 2rem;
            text-align: center;
        }
        .title{
            @include font-size('xl');
            color: $gray-dark-color;
            font-weight: bold;
            margin-bottom: 1.5rem;
        }
        .desc{
            @include font-size('base');
            color: $gray-dark-color;
            font-weight: 500;
            @include breakpoints('sm'){
                @include font-size('sm');
            }
        }
        .section__boxes{
            display: flex;
            justify-content: start;
            align-items: center;
            flex-direction: row;
            flex-wrap: nowrap;
            gap: 2rem;
            width: 80%;
            margin-bottom: 4rem;

            @include breakpoints('sm'){
                width: 100%;
                flex-wrap: wrap;
                justify-content: center;
            }
            @include breakpoints(''){
                width: 100%;
                flex-wrap: wrap;
                justify-content: center;
            }

            .section__box{
                width: 32%;
                @include breakpoints('sm'){
                    width: 40%;
                    height: 162px;
                }
                @include breakpoints(''){
                    width: 44%;
                    height: 135px;
                }
                img{
                    @include breakpoints(''){
                        width: 90%;
                    }
                }
            }
        }
    }

    .section__title{
        @include font-size('3xl');
        color: $gray-dark-color;
        padding: 3rem;
        @include breakpoints(''){
            padding: 1rem;
            text-align: center;
        }
    }
}

.section__box{
    width: 70%;
    //padding: 2.1rem;
    height: 137px;
    border-radius: 23px;
    @include box-shadow;
    border: 1px solid rgba(115, 101, 154, 0.11);
    @include flex(center, center);

    @include breakpoints('md') {
        width: 80%;
        height: 150px;
    }
    @include breakpoints('sm'){
        width: 90%;
    }
    @include breakpoints(''){
        width: 80%;
        height: 234px;
        margin: auto;
    }

    img{
        width: 100%;
    }
}

.section__bottom{
    width: 100%;
    h1{
        color: $secondary-light-color;
    }
    @include flex(center, center){
        flex-direction: column;
        gap: 2rem;
    }
    .social{
        @include flex(center, center){
            gap: 2rem;
        }
        i{
            color: #CDCDCD;
            @include font-size('xl');
            &:hover{
                color: $secondary-light-color;
            }
        }
    }
}
